## [Standard .NET GitIgnore]
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
.vs/
*.user
*.userosscache
*.sln.docstates

# Rider/IntelliJ
.idea/
*.sln.iml

# NuGet
*.nupkg
*.snupkg
[Pp]ackages/
project.lock.json
project.assets.json

# Specialized projects
[Pp]ublish/
*.[Pp]ublish.xml

# PanicMode specific
installer_output/
publish/
